<div class="container-fluid">    
<h1>Editing Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', purchases_path %>
</div>
<%= render 'layouts/footer' %>