<div class="container-fluid">    
</div>
<h1>Editing Site</h1>

<%= render 'form', site: @site %>

<%= link_to 'Show', @site, class: "btn btn-link" %>|
<%= link_to 'Back', sites_path, class: "btn btn-link" %>
</div>
<%= render 'layouts/footer' %>