<div class="container-fluid">    

<h2>Thank you!</h2>
<p>Our order with order-number: (<%= @order.id %>) with payment of <strong><%= number_to_currency(@amount * 0.01) %></strong> has been completed.</p>
<%= link_to 'Back', purchases_path  %>
</div>